@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");

/* ============MAIN CODE================= */
:root {
  --background: #ece7e2;
  --main-color-A: #db903c;
  --main-color-B: #1d202d;
  --color: #63320a;
  --main-font: "El Messiri", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--main-color-B);
}
body {
  background-color: var(--background);
}
/* ============MAIN CODE================= */
/* =========Start Header========= */
header {
  width: 100%;
  height: 100vh;
  font-family: var(--main-font);
}
/* =========Navigation========= */

.navbar {
  background-color: var(--color);
  justify-content: space-between;
}
.navbar-brand img {
  width: 80px;
  margin: 0;
}

/* =========heroo========= */
.hero img {
  width: 600px;
  margin: 50px auto 0;
  display: block;
}
.hero h1,
h2 {
  text-align: center;
  color: var(--color);
  font-family: var(--main-font);
}
.hero h1 {
  font-size: 90px;
  font-weight: bolder;
}
.hero h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: -20px;
}
