@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");

/* ============MAIN CODE================= */
:root {
  --background: #e9e3dd;
  --main-color-A: #ffa947;
  --main-color-B: #0b1336;
  --navIcon: #c7977b;
  --color: #63320a;
  --colorB: #3f220963;
  --main-font: "El Messiri", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  display: flex;
  margin: 15px;
}
ul li {
  list-style: none;
}
ul li a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--background);
  font-size: 18px;
  font-weight: 700;

  transition: 0.35s;
}
ul li a:hover {
  color: var(--main-color-A);
}
a {
  text-decoration: none;
  color: var(--main-color-B);
}
body {
  background-color: var(--background);
}

/* ============MAIN CODE================= */
/* =========Start Header========= */
header {
  width: 100%;
  height: 700px;
  font-family: var(--main-font);
}
/* =========Navigation========= */
.nav{
  display: contents;
}
header .container {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  align-items: center;
}
nav {
  background-image: linear-gradient(to bottom, var(--color) 60%, #241101);
  border-bottom: dashed #e4d4c3 1.5px;
}

.navbar-brand img {
  width: 120px;
  margin: 0;
}
/* =========heroo========= */
.hero {
  width: 100%;
  padding: 150px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero img {
  width: 400px;
}
.hero h1,
h2 {
  text-align: center;
  color: var(--color);
  font-family: var(--main-font);
}
.hero h1 {
  font-size: 90px;
  font-weight: bolder;
}
.hero h2 {
  font-size: 40px;
  font-weight: 600;
}
.hero p {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 140px;
}

.some {
  background-image: linear-gradient(to bottom, var(--color) 60%, #241101);
  color: var(--background);
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  margin: 50px 140px;
  padding: 10px 40px 5px;
  border-radius: 25px;
  border: solid 2px var(--color);
  border-bottom: #241101;
  display: block;
  text-align: center;

  transition: 0.6s;
}
.some:hover {
  color: var(--color);
  background: none;
}

/* =========Who We========= */
.we {
  background-color: #63320a;
  border-radius: 40px 40px 0 0;
  width: 100%;
  text-align: center;
}
.we h1 {
  padding-top: 80px;
  color: var(--main-color-A);
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  font-family: var(--main-font);
}
.we .p {
  padding: 100px 140px;

  color: var(--background);
  font-size: 30px;
  font-weight: 900;

  font-family: var(--main-font);
}


/* رؤيتنا */
.wetwo {
  margin-top: -50px;
  background-color: var(--background);
  border-radius: 40px 40px 0 0;
  width: 100%;
  text-align: center;
}
.wetwo h1 {
  padding-top: 80px;
  color: var(--main-color-A);
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  font-family: var(--main-font);
}
.wetwo .p {
  padding: 100px 140px;

  color: var(--color);
  font-size: 30px;
  font-weight: 900;

  font-family: var(--main-font);
}
@media (max-width: 992px) {
  header {
    height: 600px;
  }
  .hero img {
    width: 300px;
  }
  .hero h2 {
    font-size: 35px;
  }
  .hero p {
    font-size: 20px;
  }
}

@media (max-width: 720px) {
  .nav{
    display: none;

  }

}
